<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="public/css/login.css" type="text/css" />
    
</head>
<body>
    <div class="container">

        <form action="http://localhost/noobframework-master/" method="post">
            <h1 class="logo">Login</h1>
            
            <img src="public/img/icone.png" alt="" class="icon">

            <input type="text" name="login" id="login" placeholder="Login">
            

            <input type="password" name="password" id="password" placeholder="Senha">
            
            
            <button type="submit" onclick="">Entrar</button>
            
            <a class="cad" type="submit" href="">Não possui conta? Cadastre-se</href>

        </form>
    </div>

    
</body>
</html>